/* FOOTER CSS*/

footer {

  min-height: 50px;
}
/* END FOOTER CSS*/
body{
  background-color: rgb(75, 87, 84);
  color:rgb(232, 232, 232);
}
.btn-simon{
  min-height: 20vh;
}
.top{
  min-height: 10vh;
}
.btn-simon:disabled{
  opacity: 1;
}
